@model Sales_Management.Models.Product

<h2>Edit Product</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="ProductId" />

    <div>
        <label>Code</label>
        <input asp-for="Code" class="form-control" />
    </div>

    <div>
        <label>Name</label>
        <input asp-for="Name" class="form-control" />
    </div>

    <div>
        <label>Selling Price</label>
        <input asp-for="SellingPrice" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary mt-2">Update</button>
</form>
