<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Sale Management</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="Sale"
               asp-controller="Products"
               asp-action="Index">
                SALE PANEL
            </a>
        </div>
    </nav>

    <div class="container mt-4">
        @RenderBody()
    </div>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
